@import "tailwindcss";

:root {
  --foreground-rgb: 15, 23, 42; /* slate-900 */
  --background-start-rgb: 248, 250, 252; /* slate-50 */
  --background-end-rgb: 255, 255, 255; /* white */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  min-height: 100vh;
}

/* Hide number input arrows for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input arrows for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
